![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 3

Neste Jupyter notebook você irá resolver uma exercícios utilizando a linguagem Python e a biblioteca Pandas.

Todos os datasets utilizados nos exercícios estão salvos na pasta **datasets**.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/users_dataset.txt***.

Salve os dados em uma variável de nome *users*.

In [4]:
import pandas as pd

In [7]:
csv = pd.read_csv('datasets/users_dataset.csv', sep='|')

In [8]:
users = pd.DataFrame(csv)

### Tarefa 2. Descubra qual a idade média por ocupação.

*Dica: use a função groupby do Pandas na coluna occupation*

In [9]:
users.groupby('occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Tarefa 3. Para cada ocupação descubra a idade mínima e máxima.

In [11]:
users.groupby('occupation').agg({'age': ['min', 'max']})

              age
              min max
occupation
administrator  21  70
artist         19  48
doctor         28  64
educator       23  63
engineer       22  70
entertainment  15  50
executive      22  69
healthcare     22  62
homemaker      20  50
lawyer         21  53
librarian      23  69
marketing      24  55
none           11  55
other          13  64
programmer     20  63
retired        51  73
salesman       18  66
scientist      23  55
student         7  42
technician     21  55
writer         18  60

### Tarefa 4. Para cada combinação de ocupação e sexo, calcule a idade média.

Exemplo:

```
occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
```

In [12]:
users.groupby(['occupation', 'gender'])['age'].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Tarefa 5. Para cada ocupação calcule a porcentagem de homens e mulheres.

Exemplo:

```
occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
```

In [15]:
occ_gen_div = users.groupby(['occupation', 'gender'])['gender'].count()
occ_gen_div.groupby(level=1).apply(lambda x: 100 * x/x.sum())

occupation     gender
administrator  F         13.186813
               M          6.417910
artist         F          4.761905
               M          2.238806
doctor         M          1.044776
educator       F          9.523810
               M         10.298507
engineer       F          0.732601
               M          9.701493
entertainment  F          0.732601
               M          2.388060
executive      F          1.098901
               M          4.328358
healthcare     F          4.029304
               M          0.746269
homemaker      F          2.197802
               M          0.149254
lawyer         F          0.732601
               M          1.492537
librarian      F         10.622711
               M          3.283582
marketing      F          3.663004
               M          2.388060
none           F          1.465201
               M          0.746269
other          F         13.186813
               M         10.298507
programmer     F          2.197802
               M          8.955224
retired        F          0.366300
               M          1.940299
salesman       F          1.098901
               M          1.343284
scientist      F          1.098901
               M          4.179104
student        F         21.978022
               M         20.298507
technician     F          0.366300
               M          3.880597
writer         F          6.959707
               M          3.880597
Name: gender, dtype: float64

**Parabéns! Você chegou ao fim!**